
/* Style Sheet for Using Video Games in the English Classroom, website by Kelsey M. Burroughs */

body { 
     background-color:#4D3872;
	 
}

h1	{
	text-align:center;	
	font-family: Georgia;
}

h2 
{
	text-align:center;	
	font-family: Georgia;
}

h3 {
	text-align: center;
	font-family: Georgia;
}

p
{	
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

ul {	
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

ol{	
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

a:link {
	font-weight:bold;
	color:#C47E00;
}

a:visited {
	color: #873938;
}
	

a:hover {
	color:#5E3DA2;
 }


.purple {
		background-color:#E9D0F7;
		padding:8px;
		text-indent: 20px;
		
		
}
		

.orange {
		background-color:#F7E9D0; 
		padding:8px;
		text-indent: 20px;
		
}

#wrapper {
		border:1px;
		margin:1% 9% 1% 9%;
		padding: 10px;
		background-color:#ffffff;
		box-shadow: 5px 5px 5px #000000;
}

#nav {
	text-align: center;
	color:#6C3552;
	padding: 20px;
	background-color:#E9D0F7;
	border-radius: 5px;
	font-family: Georgia;	
	letter-spacing: 2px;
	width: 690px;
	margin-left: 245px;
}

#footer {
	text-align: center;
}













